@page
@model Clockcard.Pages.ClockCard.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Clock</h4>
<hr />


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*alter the dropdown menu *@
                @Html.DropDownListFor(m => m.Clock.EMPREF,
                                         new SelectList(
                                             Model.EmployeesDict,
                                             "Key",
                                             "Value"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <h4>
                    <b>
                        <label asp-for="Clock.STARTTIME" class="control-label" style="color: #924091"></label>
                    </b>
                </h4>
                <input asp-for="Clock.STARTTIME" class="form-control" />
                <span asp-validation-for="Clock.STARTTIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>
                    <b>
                        <label asp-for="Clock.ENDTIME" class="control-label" style="color: #924091"></label>
                    </b>
                </h4>
                <input asp-for="Clock.ENDTIME" class="form-control" />
                <span asp-validation-for="Clock.ENDTIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="background-color: #924090; color: white"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function reloadJS(){
            setTimeout(()=>{
                console.log("reload called")
                window.location.href = window.location.href;
                return false
            },100)
            return false;
        }
    </script>

}
