@page
@model Clockcard.Pages.Timetable.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee Timetable</h1>

<h4 style="color: #924091">Timeline</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Timeline.ID" />
            <div style="display:none">
                <h4><b><label asp-for="Timeline.EMPREF" class="control-label"style="color: #924091"></label></b></h4>
                <input asp-for="Timeline.EMPREF" class="form-control" />
                <span asp-validation-for="Timeline.EMPREF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4><b><label asp-for="Timeline.MONDAYSTARTTIME" class="control-label" style="color: #924091"></label></b></h4>
                <input asp-for="Timeline.MONDAYSTARTTIME" class="form-control" />
                <span asp-validation-for="Timeline.MONDAYSTARTTIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4><b><label asp-for="Timeline.MONDAYENDTIME" class="control-label" style="color: #924091"></label></b></h4>
                <input asp-for="Timeline.MONDAYENDTIME" class="form-control" />
                <span asp-validation-for="Timeline.MONDAYENDTIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4><b><label asp-for="Timeline.TUESDAYSTARTTIME" class="control-label" style="color: #924091"></label></b></h4>
                <input asp-for="Timeline.TUESDAYSTARTTIME" class="form-control" />
                <span asp-validation-for="Timeline.TUESDAYSTARTTIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4><b><label asp-for="Timeline.TUESDAYENDTIME" class="control-label" style="color: #924091"></label></b></h4>
                <input asp-for="Timeline.TUESDAYENDTIME" class="form-control" />
                <span asp-validation-for="Timeline.TUESDAYENDTIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4><b><label asp-for="Timeline.WEDNESDAYSTARTTIME" class="control-label" style="color: #924091"></label></b></h4>
                <input asp-for="Timeline.WEDNESDAYSTARTTIME" class="form-control" />
                <span asp-validation-for="Timeline.WEDNESDAYSTARTTIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4><b><label asp-for="Timeline.WEDNESDAYENDTIME" class="control-label" style="color: #924091"></label></b></h4>
                <input asp-for="Timeline.WEDNESDAYENDTIME" class="form-control" />
                <span asp-validation-for="Timeline.WEDNESDAYENDTIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4><b><label asp-for="Timeline.THURSDAYSTARTTIME" class="control-label" style="color: #924091"></label></b></h4>
                <input asp-for="Timeline.THURSDAYSTARTTIME" class="form-control" />
                <span asp-validation-for="Timeline.THURSDAYSTARTTIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4><b><label asp-for="Timeline.THURSDAYENDTIME" class="control-label" style="color: #924091"></label></b></h4>
                <input asp-for="Timeline.THURSDAYENDTIME" class="form-control" />
                <span asp-validation-for="Timeline.THURSDAYENDTIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4><b><label asp-for="Timeline.FRIDAYSTARTTIME" class="control-label" style="color: #924091"></label></b></h4>
                <input asp-for="Timeline.FRIDAYSTARTTIME" class="form-control" />
                <span asp-validation-for="Timeline.FRIDAYSTARTTIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4><b><label asp-for="Timeline.FRIDAYENDTIME" class="control-label" style="color: #924091"></label></b></h4>
                <input asp-for="Timeline.FRIDAYENDTIME" class="form-control" />
                <span asp-validation-for="Timeline.FRIDAYENDTIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4><b><label asp-for="Timeline.SATURDAYSTARTTIME" class="control-label" style="color: #924091"></label></b></h4>
                <input asp-for="Timeline.SATURDAYSTARTTIME" class="form-control" />
                <span asp-validation-for="Timeline.SATURDAYSTARTTIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4><b><label asp-for="Timeline.SATURDAYENDTIME" class="control-label" style="color: #924091"></label></b></h4>
                <input asp-for="Timeline.SATURDAYENDTIME" class="form-control" />
                <span asp-validation-for="Timeline.SATURDAYENDTIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4><b><label asp-for="Timeline.SUNDAYSTARTTIME" class="control-label" style="color: #924091"></label></b></h4>
                <input asp-for="Timeline.SUNDAYSTARTTIME" class="form-control" />
                <span asp-validation-for="Timeline.SUNDAYSTARTTIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4><b><label asp-for="Timeline.SUNDAYENDTIME" class="control-label" style="color: #924091"></label></b></h4>
                <input asp-for="Timeline.SUNDAYENDTIME" class="form-control" />
                <span asp-validation-for="Timeline.SUNDAYENDTIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" style="background-color: #924090; color: white"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index"style="color: #924091"><h4><b>Back to List</b></h4></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
