@page
@model Clockcard.Pages.IndexModel
@{
}
<div style = "text-align:center">
    <section>
        <form id="account" class="cancel" method="post">
            <img class="mb-4" src="img/Clockcard.png" alt="" width="157" height="157">
            <hr />
            <h2>Clockcard</h2>
            <div class="form-group" width="57">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" width="57"/>
                
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input type="password" asp-for="Input.Password" class="form-control" />
                
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>
    </section>
</div>
